# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/inspectionProfiles/
.idea/markdown-navigator-enh.xml
.idea/markdown-navigator.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/vf-corp-automation.iml
